<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
   {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/about.png" alt="shakil" class="img-fluid">
                        </figure>
                    </div>

                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I am a  <span class="text_clr">Mern Stack Developer</span> competetive programmer & Freelancer</h1>
                        <a href="https://www.linkedin.com/in/shakil-ahmed-4845a01aa/" target="_blank"><button>About </button></a>
                    </div>

                    
                   
                </div>
            </div>
        </div>
        <div>

            <!-- Footer -->
         {{>footer}}

</body>


</html>